{% extends 'base.html' %}
 {% block head %}
  <title>Account Activation </title>
{% endblock head %}
{% block body %}
    <div class="row">
    <div class="col s12 m7">
      Please confirm your email to complete your registration
    </div>
  </div>

 {% endblock body %}