{% extends 'base.html' %}


{% block body %}

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
    <div class="row">
      <form class="col s6" method='POST'>
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="input-field col s12">
              <label>{{ field.label_tag }}</label>
            {{ field}}
            {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
          </div>
          {% endfor %}
        </div>

          <button class="btn waves-effect waves-light" type="submit">Change
          <i class="material-icons right">send</i>
        </button>
      </form>
      </div>
</div>

{% endblock body %}
