{% extends 'base.html' %}
 {% block head %}
  <title>Home</title>
{% endblock head %}
{% block body %}
    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/Rio_Madre_de_Dios%2C_Peru.JPG">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

 {% endblock body %}