{% extends 'base.html' %}{% load static %}
{% block head %}
  <title>Login</title>
{% endblock head %}
{% block body %}
  <div class="container">
  <!-- Page Content goes here -->
    <h1>Welcome</h1>
    <h3>You can Login here</h3>

    <div>

        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
        {% endif %}
</div>




    <div class="row">
      <form class="col s12" method='post'>
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            {{ form.as_p }}
          </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <div class="row">
        <button class="btn waves-effect waves-light col s6" type="submit">Login
          <i class="material-icons right">send</i>
        </button>
        <p class="col s6"><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>


      </form>

    </div>
  
  </div>
  {% endblock body %}