

{% extends 'base.html' %}
 {% block head %}
  <title>Profile</title>
{% endblock head %}
{% block body %}
    <div class="container">
       <div class="col s12" style="margin: auto; padding: 30px;">
       Password reset sent
We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.

</div>
    </div>
 {% endblock body %}