{% extends 'base.html' %}
 {% block head %}
  <title>Profile</title>
{% endblock head %}
{% block body %}
    <div class="container">
        <h3>{{ user|title }}</h3>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name }}</p>
        <p>{{ user.email }}</p>
    </div>
    <div class="row">
       <a href="/account/edit_profile">Edit Profile</a>
        <a href="/account/change_password">Change Password</a>
    </div>
 {% endblock body %}