



{% extends 'base.html' %}
 {% block head %}
  <title>Profile</title>
{% endblock head %}
{% block body %}
    <div class="container">
       <div class="col s12" style="margin: auto; padding: 30px;">
      Password reset complete
Your password has been set. You may go ahead and log in now.
<p>
<a href="/account/login"> Log in </a>

</p>

</div>
    </div>
 {% endblock body %}